.Grid {
    width: 100vw;
    height: 100vh;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
}

.backbox {
    width: 60vw;
    height: 60vh;
    background-color: darkgrey;
    position: relative;
    text-align: center;
    border: 7px solid black;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.time {
    margin-top: 5em;
    font-size: 200%;
}