.Grid {
    width: 100vw;
    height: 100vh;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
}

.backbox {
    width: flex;
    height: flex;
    background-color: darkgrey;
    text-align: center;
    border: 7px solid black;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}

.time {
    margin-left: 2ch;
    margin-top: 3em;
    font-size: 200%;
    font-family: 'Courier New', Courier, monospace;
}

.time > * {
    display: inline-block;
}