.Grid {
    width: 100vw;
    height: 100vh;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
}

.backbox {
    width: 60vw;
    height: 60vh;
    background-color: darkgrey;
    position: relative;
    text-align: center;
    border: 7px solid black;
}

.buttons {
    position: absolute;
    bottom: 0;
    left: 10em;
}

@media (max-width: 1000px) and (min-width: 700px) {
    .backbox {
        width: 70vw;
        height: 70vh;
    }
}